Source: ros-jazzy-fss-bringup
Section: misc
Priority: optional
Maintainer: "Peixuan Shu" <shupeixuan@qq.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ros-workspace
Homepage: https://index.ros.org/p/fss_bringup/#jazzy
Standards-Version: 3.9.2

Package: ros-jazzy-fss-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-fss-px4-sim, ros-jazzy-fss-sensing, ros-jazzy-fss-time, ros-jazzy-launch, ros-jazzy-launch-ros, ros-jazzy-rviz2, ros-jazzy-ros-workspace
Description: Integrated launch files for FastSwarmSim.
