Source: ros-jazzy-fss-px4-sim
Section: misc
Priority: optional
Maintainer: "Peixuan Shu" <shupeixuan@qq.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-fss-time, ros-jazzy-geographic-msgs, ros-jazzy-geometry-msgs, ros-jazzy-mavros, ros-jazzy-mavros-msgs, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-tf2, ros-jazzy-tf2-eigen, ros-jazzy-tf2-geometry-msgs, ros-jazzy-tf2-ros, ros-jazzy-visualization-msgs, ros-jazzy-ros-workspace
Homepage: https://index.ros.org/p/fss_px4_sim/#jazzy
Standards-Version: 3.9.2

Package: ros-jazzy-fss-px4-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-fss-time, ros-jazzy-geographic-msgs, ros-jazzy-geometry-msgs, ros-jazzy-launch, ros-jazzy-launch-ros, ros-jazzy-mavros, ros-jazzy-mavros-msgs, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-robot-state-publisher, ros-jazzy-rviz2, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-tf2, ros-jazzy-tf2-eigen, ros-jazzy-tf2-geometry-msgs, ros-jazzy-tf2-ros, ros-jazzy-visualization-msgs, ros-jazzy-ros-workspace
Description: ROS 2 PX4/MAVROS-compatible drone simulators for FastSwarmSim.
